.link-picture {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:0;
}
.link-picture__img-container {
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    align-items: center;
}
.link-picture__img {
    cursor: pointer;
    transition: transform 0.25s ease-out;
    max-width: 90%;
    position: relative;
}
.link-picture__img:hover {
    transform: scale(110%);
}
.link-picture__text {
    cursor: pointer;
    /* position: absolute; */
    /* bottom: 15%; */
    padding: 1rem;
    font-size: 2.8rem;
    font-weight: 500;
    margin: 0;
}

/* Вёрстка для пк */
@media screen and (min-width:1064px) {
    .link-picture__img-container {
        display: block;
    }
    .link-picture__img {
        max-width: 300px;
    }
}